{% extends "base.html" %}

{% block content %}
<div
    class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
    style="background-image: url('https://wallpapercave.com/uwp/uwp1009240.gif');">
    <br><br><br>
    <div class="container text-center">
        <div class="row">
        <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTa9F-aoNUHnIKTc871wWOwtyK_fRQkXAUVrya8jaiFy-oup7y5" class="card-img-top" alt="tshirt">
                        <div class="card-body">
                        <h5 class="card-title">Skeleton Heart T-Shirt</h5>
                        <p class="card-text">Gothic dark retro skeleton letter print hip-hop o-neck T-shirt women 2023 spring and summer high street loose couple T-shirt y2k</p>
                </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">120 €</li>
                    </ul>
                    <div class="card-body">
                    <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://t2.gstatic.com/images?q=tbn:ANd9GcRg_6BbfMJLw1asXnTj2vqmxOtS1AU2k9BLBLWW5CFYjJ25aryo" class="card-img-top" alt="tshirt">
                    <div class="card-body">
                    <h5 class="card-title">Grunge Cartoon T-Shirt</h5>
                    <p class="card-text">Oversized T Shirt Men Vintage Streetwear Tops Character Print Short Sleeve Aesthetic Tee Shirt Womens Tshirt Summer Clothing</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">150 €</li>
                    </ul>
                    <div class="card-body">
                    <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTmxNNYtNiCgsCI3Ze8mxO70jCMbhZq1FXyd_cWkXb4-p5Dr-Ch" class="card-img-top" alt="tshirt">
                    <div class="card-body">
                    <h5 class="card-title">Tom & Jerry Printed T-Shirt</h5>
                    <p class="card-text">Our oversized, Tom and Jerry printed t-shirts for girls and boys are on the shelves.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">100 €</li>
                    </ul>
                    <div class="card-body">
                    <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTssDbzFAGAMXVI23RK-klf5NNb1fVhY9HNUFL-qZRonayeE2VE" class="card-img-top" alt="tshirt">
                    <div class="card-body">
                    <h5 class="card-title">Hiding Cat Printed T-Shirt</h5>
                    <p class="card-text">If you want all eyes to be on you when you wear it, Hiding Cat Dual Match Beige Unisex T-Shirt is for you.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">120 €</li>
                    </ul>
                    <div class="card-body">
                    <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTsv8tmZkA7KZukVER48rMehvlC0r9bty_1q8TE-5vtAslJ8Ok1" class="card-img-top" alt="sweater">
                    <div class="card-body">
                    <h5 class="card-title">Butterfly Printed Sweat</h5>
                    <p class="card-text">New Korean version loose long sleeve top women student ink butterfly letter print hooded sweater clothing.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">300 €</li>
                    </ul>
                    <div class="card-body">
                    <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                    </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://s.alicdn.com/@sc04/kf/H825c16dd20044c6b8861fe5ad7ccb836h.jpg_300x300.jpg" class="card-img-top" alt="sweater">
                    <div class="card-body">
                    <h5 class="card-title">Grunge Hoodie</h5>
                    <p class="card-text">Loose Zipper Hoodie Women Grunge Punk Hooded Jackets Y2k Clothes Autumn Winter 2022 Vintage Letter Printed Sweatshirts Coat.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">300 €</li>
                    </ul>
                    <div class="card-body">
                    <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                    </div>
                </div>
            </div>
    
                <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTfcVG7J-lkNfACrZLVDzmUStRUZdwKhm6byHWrALUItmA1NS2L" class="card-img-top" alt="sweater">
                    <div class="card-body">
                    <h5 class="card-title">Vintage Sweater</h5>
                    <p class="card-text">Hooded Sweater European and American men and women the same autumn and winter Korean version loose lazy wind Hoodies women.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">300 €</li>
                    </ul>
                    <div class="card-body">
                    <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                    </div>
                </div>
            </div>
    
                <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxb1DyFXVjyxVy921U0GvZN0xAz6xXepIJP-oLGgKorTsTWjzi" class="card-img-top" alt="sweater">
                    <div class="card-body">
                    <h5 class="card-title">Gothic Hoodie</h5>
                    <p class="card-text">Dark High Street Embroidered Cross Hoodie Hip Hop y2k Ladies Zipper Stitching Couple Fashion Loose Casual Sports Trend Clothing.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">300 €</li>
                    </ul>
                    <div class="card-body">
                    <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    <br><br>
            <div class="row">
            <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTO8apEtQ_sfd0uR9ejKKKqyRYIldEXcD7DL5T15RBs4A2GEHsJ" class="card-img-top" alt="pant">
                        <div class="card-body">
                        <h5 class="card-title">Vintage Skull Printed Pant</h5>
                        <p class="card-text">Vintage Skull Print Washed Men's Jeans New Y2K Straight Casual Oversized Trousers Women Denim Trousers Loose Streetwear pantables ins.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">200 €</li>
                        </ul>
                        <div class="card-body">
                        <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
        
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ_k3Obkh5smQGJ_bDMpxUJair0YZuCLbfAh8x8f1tt743x2rDl" class="card-img-top" alt="pant">
                        <div class="card-body">
                        <h5 class="card-title">Grunge Vintage Pant</h5>
                        <p class="card-text">Harajuku Grunge Vintage Low Waist Cargo Pants Y2K Aesthetic Indie Women Jeans Pockets Korean Streetwear Retro Trousers.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">200 €</li>
                        </ul>
                        <div class="card-body">
                        <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
        
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQFLWW9rQF6l-4LQkDcGL1p3lQfZNE5HIasyGM2KK57U2s-ZNXR" class="card-img-top" alt="pant">
                        <div class="card-body">
                        <h5 class="card-title">Harajuku Pant</h5>
                        <p class="card-text">Harajuku Jeans Streetwear Printed Hippie Denim Trousers Korean Wide Leg Trousers Vintage Loose Trousers Streetwear.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">200 €</li>
                        </ul>
                        <div class="card-body">
                        <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
        
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYVlinLnURMrdd9krBwFTvwKT3cyOUeJoGJha1sdqOxY3fNiV_" class="card-img-top" alt="pant">
                        <div class="card-body">
                        <h5 class="card-title">Kosahiki Cargo Pant</h5>
                        <p class="card-text">KOSAHIKI Casual Cargo Pants Cartoon Print All-match Streetwear Harajuku Harajuku Students Fashion Loose Retro Daily Sweatpants.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">250 €</li>
                        </ul>
                        <div class="card-body">
                        <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>


{% endblock %}

