{% extends "base.html" %}

{% block content %}
<div
class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
style="background-image: url('https://wallpapercave.com/uwp/uwp1009240.gif');">
    <div
        class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
        style="background-image: url('https://wallpapercave.com/uwp/uwp1009240.gif');"> 
        <br><br><br>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTO8apEtQ_sfd0uR9ejKKKqyRYIldEXcD7DL5T15RBs4A2GEHsJ" class="card-img-top" alt="pant">
                        <div class="card-body">
                        <h5 class="card-title">Vintage Skull Printed Pant</h5>
                        <p class="card-text">Vintage Skull Print Washed Men's Jeans New Y2K Straight Casual Oversized Trousers Women Denim Trousers Loose Streetwear pantables ins.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">200 €</li>
                        </ul>
                        <div class="card-body">
                        <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ_k3Obkh5smQGJ_bDMpxUJair0YZuCLbfAh8x8f1tt743x2rDl" class="card-img-top" alt="pant">
                        <div class="card-body">
                        <h5 class="card-title">Grunge Vintage Pant</h5>
                        <p class="card-text">Harajuku Grunge Vintage Low Waist Cargo Pants Y2K Aesthetic Indie Women Jeans Pockets Korean Streetwear Retro Trousers.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">200 €</li>
                        </ul>
                        <div class="card-body">
                        <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQFLWW9rQF6l-4LQkDcGL1p3lQfZNE5HIasyGM2KK57U2s-ZNXR" class="card-img-top" alt="pant">
                        <div class="card-body">
                        <h5 class="card-title">Harajuku Pant</h5>
                        <p class="card-text">Harajuku Jeans Streetwear Printed Hippie Denim Trousers Korean Wide Leg Trousers Vintage Loose Trousers Streetwear.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">200 €</li>
                        </ul>
                        <div class="card-body">
                        <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYVlinLnURMrdd9krBwFTvwKT3cyOUeJoGJha1sdqOxY3fNiV_" class="card-img-top" alt="pant">
                        <div class="card-body">
                        <h5 class="card-title">Kosahiki Cargo Pant</h5>
                        <p class="card-text">KOSAHIKI Casual Cargo Pants Cartoon Print All-match Streetwear Harajuku Harajuku Students Fashion Loose Retro Daily Sweatpants.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">250 €</li>
                        </ul>
                        <div class="card-body">
                        <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}