{% extends "base.html" %}

{% block content %}
<div
    class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
    style="background-image: url('https://wallpapercave.com/uwp/uwp1009240.gif');">
    <br><br><br>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTsv8tmZkA7KZukVER48rMehvlC0r9bty_1q8TE-5vtAslJ8Ok1" class="card-img-top" alt="sweater">
                    <div class="card-body">
                    <h5 class="card-title">Butterfly Printed Sweat</h5>
                    <p class="card-text">New Korean version loose long sleeve top women student ink butterfly letter print hooded sweater clothing.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">300 €</li>
                    </ul>
                    <div class="card-body">
                    <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://s.alicdn.com/@sc04/kf/H825c16dd20044c6b8861fe5ad7ccb836h.jpg_300x300.jpg" class="card-img-top" alt="sweater">
                    <div class="card-body">
                    <h5 class="card-title">Grunge Hoodie</h5>
                    <p class="card-text">Loose Zipper Hoodie Women Grunge Punk Hooded Jackets Y2k Clothes Autumn Winter 2022 Vintage Letter Printed Sweatshirts Coat.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">300 €</li>
                    </ul>
                    <div class="card-body">
                    <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                    </div>
                </div>
            </div>

                <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTfcVG7J-lkNfACrZLVDzmUStRUZdwKhm6byHWrALUItmA1NS2L" class="card-img-top" alt="sweater">
                    <div class="card-body">
                    <h5 class="card-title">Vintage Sweater</h5>
                    <p class="card-text">Hooded Sweater European and American men and women the same autumn and winter Korean version loose lazy wind Hoodies women.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">300 €</li>
                    </ul>
                    <div class="card-body">
                    <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                    </div>
                </div>
            </div>

                <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxb1DyFXVjyxVy921U0GvZN0xAz6xXepIJP-oLGgKorTsTWjzi" class="card-img-top" alt="sweater">
                    <div class="card-body">
                    <h5 class="card-title">Gothic Hoodie</h5>
                    <p class="card-text">Dark High Street Embroidered Cross Hoodie Hip Hop y2k Ladies Zipper Stitching Couple Fashion Loose Casual Sports Trend Clothing.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">300 €</li>
                    </ul>
                    <div class="card-body">
                    <a href="#" class="card-link"><i class="bi bi-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}